<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login Page</title>
</head>

<body>

    <h1> Student Login Form </h1>
    <form action="/login" method="post">
        <div class="container">
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
            <p>Invalid username or passname!!</p>
        </div>
    </form>
</body>

</html>